[Desktop Entry]
Comment=
Exec=/usr/bin/logicreinc.blendfarm
GenericName=\sA stand-alone Blender Network Renderer\s
Icon=/usr/lib/logicreinc.blendfarm/Images/render.ico
Name=LogicReinc.BlendFarm
NoDisplay=false
Path=/opt/LogicReinc.BlendFarm
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application

